<!DOCTYPE html>
<html>
<head>
  <title>Pickler</title>
  <%= stylesheet_link_tag    "pickler/application", media: "all" %>
  <%= javascript_include_tag "pickler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
